!CAM-B3LYP EPR-II AUTOAUX
%basis basis  "SV"
newGTO Cu  "TZVPP"  end
end
%pal
 nprocs 24
end
%maxcore 5000
*xyzfile -1 2 FILE
%EPRNMR
     GTENSOR   TRUE
     NUCLEI    = ALL H {AISO, ADIP, AORB}
END
